################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WordToHtml/v16
/obj/Debug
/packages
